configuration {
    modi: "drun";
    font: "JetBrainsMono Nerd Font 13";
    show-icons: true;
    icon-theme: "Papirus";
    drun-display-format: "{name}";
    display-drun: "  Apps";
}

@theme "meloworld"
